@import "./fonst.scss";
@import "./default-style.scss";
@import "./variables.scss";
@import "./transfer.scss";
@import "./price.scss";
@import "./navbar.scss";
@import "./faq.scss";

body {
    font-family: "CeraPro", sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    color: $black1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    padding: 0 18px;
    max-width: 1100px;
    margin: 0 auto;
}

.up-button {
    position: fixed !important;
    bottom: 50px;
    right: 5vw;
    width: 40px;
    height: 40px;
    background: $orange1 !important;
    z-index: 100;
    border-radius: 50% !important;
    padding: 0 !important;
    min-width: 0 !important;
}

.line {
    border: 1px solid $orange1;
    margin: 0 auto;
    margin: 60px auto 50px;
}

.main {
    text-align: center;
    &__navbar {
        background: $black1;
        padding: 50px 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        &-title {
            margin-top: 34px;
            font-size: 36px;
            line-height: 45px;
            font-weight: 500;
        }
        &-subtitle {
            font-size: 30px;
            line-height: 36px;
            margin-top: 26px;
            font-weight: 300;
        }
        &-button {
            margin-top: 35px !important;
            padding: 20px 30px !important;
            border-radius: 5px;
            background: $orange1 !important;
        }
    }
    &__advantage {
        color: $black;
        font-weight: 400;
        padding: 70px 18px 0 18px;
        &-title {
            font-size: 32px;
            line-height: 40px;
        }
        &-list {
            grid-template-columns: repeat(4, 1fr) !important;
            margin: 0 auto !important;
            max-width: fit-content;
            margin-top: 40px !important;
            column-gap: 120px !important;
            & > div {
                justify-self: center;
            }
            &_subtitle {
                margin-top: 14px;
            }
        }
    }
    &__contacts {
        padding: 0 18px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        max-width: 700px;
        &-title {
            text-align: left !important;
            color: $black;
            padding-bottom: 25px;
        }
        &-contact {
            &_list {
                grid-template-columns: repeat(2, 1fr) !important;
                column-gap: 18px;
                grid-template-areas:
                    "contact_item1 contact_item4"
                    "contact_item2 ."
                    "contact_item3 .";
                &-item {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                }
                &-item1 {
                    grid-area: contact_item1;
                }
                &-item2 {
                    grid-area: contact_item2;
                }
                &-item3 {
                    grid-area: contact_item3;
                }
                &-item4 {
                    grid-area: contact_item4;
                }
            }
        }
    }
    &__direction {
        &-img {
            margin-top: 40px;
            width: 100vw;
        }
    }
    &__slider {
        padding: 70px 18px 0 18px;
        &-slick {
            display: grid !important;
            grid-template-columns: 1fr 700px 1fr;
            grid-template-rows: 470px 30px;
            grid-template-areas:
                "sp sl sn"
                ". sd ." !important;

            & .slick-prev {
                grid-area: sp;
            }
            & .slick-arrow {
                align-self: center;
                justify-self: center;
                fill: $grey1;
                cursor: pointer;
                &:hover {
                    fill: $grey2;
                }
            }
            & .slick-next {
                grid-area: sn;
            }
            & .slick-list {
                grid-area: sl;
            }
            & .slick-dots {
                grid-area: sd;
                display: flex !important;
                align-self: center;
                justify-self: center;
                column-gap: 5px;
                & button {
                    display: none;
                }
                & li {
                    width: 8px;
                    height: 8px;
                    border: 1px solid $black1 !important;
                    border-radius: 50%;
                }
                .slick-active {
                    background-color: $black1;
                }
            }
            &_img {
                width: 600px;
                height: 400px;
                margin: 0 auto;
                object-fit: contain;
                background-repeat: no-repeat;
            }
            &_subtitle {
                font-weight: 300;
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
    &__notpay {
        padding: 40px 18px;
        margin-top: 60px;
        height: 370px;
        background-color: $black1;
        color: $white;
        display: flex;
        flex-direction: column;
        &-title {
            font-weight: 300;
            font-size: 32px;
            flex-grow: 1;
            line-height: 112.02%;
            & div {
                color: $orange1;
            }
        }
        &-service {
            margin: 0 auto;
            display: grid;
            width: fit-content;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 120px;
            & img {
                margin: 0 auto;
            }
            &_item {
                display: grid;
                grid-template-rows: 50px;
                row-gap: 14px;
                max-width: 125px;
            }
        }
    }
    &__footer {
        font-size: 12px;
        padding: 20px 18px;
        &-title {
            padding-top: 13px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .line {
        margin: 35px auto;
    }
    .main__navbar {
        padding: 0 18px 50px 18px;
        &-title {
            font-size: 20px;
            margin-top: 25px;
            display: flex;
            align-items: center;
            column-gap: 7px;
        }
        &-subtitle {
            margin-top: 25px;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
        }
    }
    .main__advantage {
        padding-top: 40px;
        &-title {
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
        }
        &-list {
            margin-top: 29px !important;
            column-gap: 86px !important;
            row-gap: 19px !important;
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }
    .main__contacts {
        &-contact_list {
            grid-template-columns: repeat(1, 1fr) !important;
            grid-template-areas:
                "contact_item1"
                "contact_item2"
                "contact_item3"
                "contact_item4";
        }
    }
    .main__direction {
        &-img {
            height: 320px;
            margin-top: 30px;
            object-fit: cover;
        }
    }
    .main__slider {
        padding-top: 40px;
        &-slick {
            grid-template-columns: 0fr 1fr 0fr;
            grid-template-rows: 255px 30px;
            .slick-arrow {
                display: none !important;
            }
            &_img {
                height: 194px;
                width: auto;
            }
            &_subtitle {
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
    .main__notpay {
        height: 280px;
        margin-top: 50px;
        &-title {
            font-weight: 400;
            font-size: 22px;
            line-height: 112.02%;
        }
        &-service {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
            & img {
                width: 20px;
            }
            &_item {
                grid-template-rows: 20px;
                &--title {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 113.7%;
                }
            }
        }
    }
    .main__footer {
        padding: 20px 18px 30px 18px;
        &-title {
            font-weight: 300;
            font-size: 10px;
            line-height: 113.7%;
        }
    }
}
